[submodule "imustacm_parent"]
	path = imustacm_parent
	url = https://github.com/imustacm/imustacm_parent.git
[submodule "imustacm-user-service"]
	path = imustacm-user-service
	url = https://github.com/imustacm/imustacm-user-service.git
[submodule "imustacm-user-api"]
	path = imustacm-user-api
	url = https://github.com/imustacm/imustacm-user-api.git
[submodule "imustacm-common"]
	path = imustacm-common
	url = https://github.com/imustacm/imustacm-common.git
[submodule "JudgerServer"]
	path = JudgerServer
	url = https://github.com/imustacm/JudgerServer.git
[submodule "OnlineJudgeFE"]
	path = OnlineJudgeFE
	url = https://github.com/imustacm/OnlineJudgeFE.git
[submodule "imustacm-problem-service"]
	path = imustacm-problem-service
	url = https://github.com/imustacm/imustacm-problem-service.git
[submodule "imustacm-problem-api"]
	path = imustacm-problem-api
	url = https://github.com/imustacm/imustacm-problem-api.git
[submodule "imustacm-eureka"]
	path = imustacm-eureka
	url = https://github.com/imustacm/imustacm-eureka.git
